@using Entity_Layer.Concrete
@model List<Sarkilar>
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/Yonetim_Layout.cshtml";
}
<br />
<br />
<div style="border:30px">
    <div style="margin-left:50px">
        @using (Html.BeginForm("Index", "Sarkilar", FormMethod.Post))
        {
            <p style="font-size:16px;color:black;font-weight:bold">ARANACAK KELİMEYİ YAZINIZ: @Html.TextBox("p")</p>
            

            <input class="btn btn-info" type="submit" value="ARA" />
        }
    </div>

    <br />
    <div style="margin-left: 20px" class="container">
        <a href="/Sarkilar/Sarki_Ekle" target="_blank">
            <button style="margin-top:20px;margin-left:20px; width:150px;height:50px" class="btn btn-primary">Şarkı Ekle</button>
        </a>
    </div>
    <table class="table table-hover" style="border:4px; border-color:black;margin-top:20px;margin-bottom:20px;margin-left:20px">
        <thead>
            <tr>

                <th scope="col">ID</th>
                <th scope="col">AD</th>
                <th scope="col">SANATÇI AD</th>
                <th scope="col">ÇIKIŞ YIL</th>
                <th scope="col">GÜNCELLE</th>
                <th scope="col">SİL</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <th scope="row">@item.Sarki_Id</th>
                    <td>@item.Sarki_Ad.ToUpper()</td>
                    <td>@item.Sarki_Sanatci_Id</td>
                    <td>@item.Sarki_Cikis_Yılı</td>
                    <td> <a href="/Sarkilar/Sarki_Guncelle/@item.Sarki_Id/@item.Sarkı_Album_Id" class="btn btn-warning"> Güncelle </a> </td>
                    <td> <a href="/Sarkilar/Sarki_Sil" class="btn btn-danger"> Sil </a> </td>




                </tr>
            }


        </tbody>
    </table>

</div>

